  

/* reset
--------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* general
--------------------------------------------------*/

/* link */
a {
	color: #058dc7;
	outline: none;
	text-decoration: none;
	transition: all 0.1s linear;
}

/* clearfix */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* layout
--------------------------------------------------*/

/* body */
body {
	font-family: 'Noto Sans JP', sans-serif;
}

.header{
	width:100vw;
	height: 214px;
	background-color: rgb(47, 185, 174);
	display: table;
}

.header h1{
	font-size: 65px;
	color: white;
	vertical-align: middle;
	display: table-cell;
	padding-left: 5vw;
	font-weight: bold;
	letter-spacing: 11px;
}

.title{
	font-weight: bold;
	font-size:1.8vw;
	color:rgb(233, 73, 73);
	display: inline-block;
	width:15vw;
	position:fixed;
	top:0px;
	left:0px;
	height: 5vh;
	margin-left: 2vw;
}

.text {
	width : 88vw;
	overflow : hidden;
	margin-left: 12vw;
	display: inline-block;
	color:rgb(255, 140, 74);
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text p{
	vertical-align: middle;
	font-weight: bold;
	font-size:1.8vw;
	color:rgb(255, 140, 74);
	display : inline-block;  /* 必須 */
	padding-left: 100%;    /* 右端から文字をスタートさせるため */
	white-space : nowrap; /* 改行が起こらないように対策 */        /* 行間（高さ）を1文字分にする */
	animation : scroll 10s linear infinite; /* 下のアニメーションを10秒かけて行い、それをくりかえす */
}
  
  /* アニメーション（右から左に移動） */
@keyframes scroll{
	0% { 
	  transform: translateX(0)
	}
	100% {
	  transform: translateX(-100%)
	}
}

.contents{
	width:100vw;
	height: 90vh;
	text-align: center;
}

iframe{
	width: 80vw;
	height: 80vh;
	border: none;
	margin-top: 2.5vh;
}

.footer{
	width:100vw;
}

.footer h1{
	font-size: 3.3vh;
	position: fixed;
	bottom: 0px;
	left: 1vw;
}

.clock{
	position: fixed;
	bottom: 0px;
	right: 1vw;
	font-size: 2.5vh;
}