a {
	outline: none;
	text-decoration: none;
	transition: all 0.1s linear;
}

.header h1{
	font-size: 3vh;
	text-align: left !important;
	color: white;
	margin: 0;
	margin-left: 3vh;
}

.header{
	height: 5vh;
	width: 100vw;
	background-color: rgb(47, 185, 174);
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-size: 20px;
	font-family: 'M PLUS 1p', sans-serif;
	margin: 0;
	padding: 0;
	height: 95vh;
	width: 100vw;
}

.submittion{
	text-align:center;
	width: 90%;
	margin-left:5%;
	
	height: 260px;	
	background-color: white;
}

.pulldown{
	font-size:18px;
	width: 80px;
	padding: 8px 8px;
	border: none;
	background-color: white;
	outline: 0;
	-webkit-appearance: none;
	border-bottom: 2px solid #5EFCE8;
  	border-image: linear-gradient(to right, #5EFCE8 0%, #736EFE 100%);
  	border-image-slice: 1;
	background-image: url(../files/down-arrow.png);
  	background-position: right 10px center;
  	background-repeat: no-repeat;
  	background-size: 15px 15px;
	overflow: hidden;
}

.pulldown:focus{
	background-image: url(../files/up-arrow.png);
  	background-position: right 10px center;
  	background-repeat: no-repeat;
  	background-size: 15px 15px;
	-webkit-appearance: none;
}

.min input[type=textarea]{
	padding: 5px 5px;
	box-sizing:border-box;
	padding: 8px;
	font-size:18px;
	outline: 0;
	margin-bottom:15px;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	background-color: white;
	-webkit-appearance: none;
	border-bottom: 2px solid #5EFCE8;
  	border-image: linear-gradient(to right, #5EFCE8 0%, #736EFE 100%);
  	border-image-slice: 1;
}

.min input[type=textarea]:focus{
}



.btn {
	background-image: linear-gradient(to right, #5EFCE8 0%, #736EFE 100%);
	border-radius: 20px;
  	box-sizing: border-box;
	color: #736EFE;
	display: block;
	height: 40px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 2px;
	position: relative;
  	text-decoration: none;
	width: 100px;
	z-index: 2;
}

.btn:hover {
	color: #fff;
}

.btn span {
	align-items: center;
	background: #ffffff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn:hover span {
	background: transparent;
}